html, body{
	margin: 0%;
	padding: 0%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#mainWrap{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
}

#logo{
	display: inline-block;
	height: 100px;
	width: 350px;
	vertical-align: top;
	background-color: transparent;
	background-image: url("img/msflogo.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#divider{
	display: inline-block;
	vertical-align: bottom;
	width: 3px;
	height: 35px;
	background-color: black;
}

#title{
	display: inline-block;
	width: 200px;
	height: 35px;
	vertical-align: bottom;
	line-height: 35px;
	margin-left: 2px;
	font-size: 18px;
	font-weight: bold;
}

#form{
	display: inline-block;
	float: right;
	margin-top: 70px;
}

#lineBreak{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 1px;
	background-color: red;
}

.resultBox{
	display: inline-block;
	width: 330px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	vertical-align: top;
}

.imgBox{
	width: 330px;
	height: 330px;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-size: contain;
}