html, body{
	margin: 0%;
	padding: 0%;
}

#mainWrap{
	width: 750px;
	padding: 10px;
}

#logo{
	display: inline-block;
	height: 100px;
	width: 350px;
	vertical-align: top;
	background-color: transparent;
	background-image: url("../img/msflogo.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#divider{
	display: inline-block;
	vertical-align: bottom;
	width: 3px;
	height: 35px;
	background-color: black;
}

#title{
	display: inline-block;
	width: 300px;
	height: 35px;
	vertical-align: bottom;
	line-height: 35px;
	margin-left: 2px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

#form{
	margin-top: 15px;
}